APP_URL=http://sage.local
VITE_API_URL=http://api.sage.local
VITE_TELEGRAM_BOT_NAME=tg_name_bot
VITE_REVERB_APP_KEY=sagekey
VITE_REVERB_HOST=api.sage.local
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=http